body {
  background-color: lightblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
legend {
  color: #C7755A;
  text-align: center;
  font-weight: bold;
}
select {
  border-radius: 2%;
}
form {
  width: fit-content;
  display: block;
  /*Posiciona el form en el centro de la pantalla*/
  text-align: center;
}
.images {
  width: 200px;
  height: 200px;
  margin-right: 2%;
}
img {
  border: 1px solid black;
}
.asigns,
th,
td {
  border: 1px solid black;
  /*Centramos la tabla*/
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
th {
  background-color: white;
}
a {
  color: #C7755A;
}
p {
  font-weight: bold;
  text-align: center;
}
h2#title {
  text-align: center;
}
input#fechaNac {
  width: 63%;
}
input#dni {
  padding-left: 14%;
}
input#tel {
  padding-left: 9%;
}
input {
  margin-bottom: 2%;
  border-radius: 5%;
}
@media screen and (max-width: 700px) {
  .install,
  .compilar {
    width: 100%;
  }
}
